body {
    background: rgb(107, 107, 241);
    font: normal 15pt Arial;
    text-align: center;
}

header {
    color: white;
    text-align: center;

}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 2px 2px 5px black;
    height: 600px;

}

div {
    text-align: center;
    margin-top: 2.5rem;
    margin-left: 1rem;
}


footer {
    margin-top: 10rem;
    color: white;
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: smaller;

}