@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');

body{
    background-color:white;
    
}

section {
    background-color: turquoise;
    margin: auto;
    width: 600px;
    border-radius: 1rem;
    height: 260px;
}

header {
    color: rgb(10, 161, 146);
    font-size: 36px;
    text-align: center;
    margin-top: 12rem;
    
}

p {
    font-size: 36px; 
    margin-top: 3.75rem;
    height: 5rem;
    padding-top: .75rem;
    text-align: initial;
    
}

#btn {
    margin-top: -4rem;
    
}

#botao {
    font-size: 20pt;
}
#result {
    color: black;
    margin-top: -3rem;
}
#res {
    color: black;
    font-family: ;
    
    
}
